body {
    width: 100%;
    height: 100%;
    background-image: url(day_514.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body{
    display: flex;
}
/* sol start */
.solmenu{
    width: 30%;
    max-width: 332px;
    box-shadow: -1px 10px 106px rgba(9, 39, 65, 0.19);
    background-color: #ffffff;
    box-sizing: border-box;
    padding:66px 64px 428px 65px;
    margin-right: 10px;
}
.solmenu .resim {
    align-items: center;
    display: flex;
    margin-bottom: 43px;
}
.solmenu .profil .resim img {
    border-radius: 100%;
}
.solmenu .profil .resim h1{
    color: #263238;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 62px;
    padding-left: 12px;
}
.solmenu .profil button {
    border-radius: 5px;
    background-color: #01579b;
    color: #ffffff;
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-bottom: 56px;
    border:0px;
}
.solmenu .menu li {
    margin-bottom:50px;
}
.solmenu .menu li a {
    color: #263238;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 62px;
    text-decoration: none;
    display: block;
}
.solmenu .menu li a i {
    margin-right: 9px;
}
.solmenu .menu li a:hover {
    border-left: 5px solid #01579b;
    padding-left: 20px;
    background-color: #e4e7e9;
    font-weight: 600;
}
/* sol finish */

/* sag1 start */
.sagmenu {
    width: 70%;
max-width: 1033px;
box-shadow: -2px 21px 51px rgba(9, 39, 65, 0.23);
background-color: #ffffff;
}
.sagmenu .ust{
    padding: 63px 73px 77px 73px;
    box-sizing: border-box;
}
.sagmenu .ust .ust-title h1 {
    color: #263238;
    font-family: "Work Sans";
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
    margin-bottom: 27px;
}
.sagmenu  .ust .text p {
    color: #263238;
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
}
.sagmenu  .ust .box1{
    max-width: 271px;
    border: 1px solid #cfd8dc;
    background-color: #ffffff;
    border-left: 5px solid #26a69a;
    padding:26px  127px 26px 30px;
    margin-right: 37px;
    display: inline-block;
    margin-bottom: 27px;
}
.sagmenu  .ust .box2{
    max-width: 271px;
    border: 1px solid #cfd8dc;
    background-color: #ffffff;
    border-left: 5px solid #ff8f00;
    padding:26px  127px 26px 30px;
    display: inline-block;
    margin-right: 37px;
}
.sagmenu .ust .box3{
    max-width: 271px;
    border: 1px solid #cfd8dc;
    background-color: #ffffff;
    border-left: 5px solid #d81b60;
    padding:26px  127px 26px 30px;
    display: inline-block;
}
.sagmenu .ust .title  {
    margin-bottom: 11px;
    color: #263238;
    font-family: "Work Sans";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}
.sagmenu .ust .money  {
    margin: 0px;
    margin-bottom: 41px;
    font-weight: 700;
    font-family: "Work Sans";
    font-size: 28px;
}.sagmenu .ust a {
    text-decoration: none;
    color: #01579b;
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
/* sag1 finish*/

/* sag2 start */
.sagmenu .alt {
    padding: 0px 69px 75px 65px;
    box-sizing: border-box;
}

.sagmenu .alt .alt-title h1{
    color: #263238;
    font-family: "Work Sans";
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
    margin-bottom: 30px;
}
.sagmenu .alt .box1 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}

.sagmenu .alt .box2 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}
.sagmenu .alt .box3 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}
.sagmenu .alt .box4 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}
.sagmenu .alt h3 {
    opacity: 0.7;
    color: #263238;
    font-family: "Work Sans";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.sagmenu .alt p {
    color: #263238;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
    text-transform: uppercase;
}
.sagmenu .alt time{
    color: #263238;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
    text-transform: uppercase;
}
.sagmenu .alt h1 {
    color: #263238;
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
    margin-bottom: 28px;
}
.sagmenu .alt ul li .money {
    color: #263238;
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 19px;
}
.sagmenu .alt .listHeader{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sagmenu .alt ul {
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
/*sag2 finish */