body {
    width: 100%;
    height: 100%;
    background-image: url(day_514.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body{
    display: flex;
    font-family: "Work Sans";
    font-style: normal;
    letter-spacing: normal;
}
/* sol start */
.solmenu{
    width: 30%;
    max-width: 332px;
    box-shadow: -1px 10px 106px rgba(9, 39, 65, 0.19);
    background-color: #ffffff;
    box-sizing: border-box;
    margin-right: 10px;
    padding-top: 66px;
}
.solmenu .profil {
    padding: 0 64px;
}
.solmenu .resim {
    align-items: center;
    display: flex;
    margin-bottom: 43px;
}
.solmenu .profil .resim img {
    border-radius: 100%;
}
.solmenu .profil .resim h1{
    color: #263238;
    font-size: 20px;
    font-weight: 400;
    line-height: 62px;
    padding-left: 12px;
}
.solmenu .profil button {
    border-radius: 5px;
    background-color: #01579b;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-bottom: 56px;
    border:0px;
}
.solmenu .menu li a {
    color: inherit;
    text-decoration: none;
    border-left: 1px solid transparent;
}
.solmenu .menu li  {
    color: #263238;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 20px 0 20px 64px;
    border-left: transparent;
    box-sizing: content-box;
}
.solmenu .menu li a i {
    margin-right: 9px;
}
.solmenu .menu li:hover ,.solmenu .menu li.active {
    background-color: #e4e7e9;
    font-weight: 600;


}
.solmenu .menu li:hover > a,.solmenu .menu li.active > a {
border-left-color: #01579b;
}
.solmenu .menu li > a {
    padding-left: 20px;
    border-left: 5px solid transparent;
    display: block;
}
.solmenu .menu li:hover,

/* sol finish */

/* sag1 start */
.sagmenu {
    width: 70%;
box-shadow: -2px 21px 51px rgba(9, 39, 65, 0.23);
background-color: #ffffff;
flex-grow: 1;
}
.sagmenu .ust{
    padding: 63px 73px 77px 73px;
    box-sizing: border-box;
}
.sagmenu .ust .ust-title h1 {
    color: #263238;
    font-size: 32px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 27px;
}
.box-wrapper{
    display: flex;
}
.box{
    width: calc(100%/3);
    border: 1px solid #cfd8dc;
    border-left: 5px solid #cfd8dc;
    padding:26px  0px 26px 30px;
    margin-right: 37px;
    display: inline-block;
    margin-bottom: 27px;
}
.box:last-child{
    margin-right: 0;
}
.box.green{
    border-left-color: #26a69a;
}
.box.orange{
    border-left-color: #ff8f00;
}
.box.red{
    border-left-color: #d81b60;
}
.sagmenu .ust .title  {
    margin-bottom: 11px;
    color: #263238;
    font-size: 13px;
    font-weight: 400;
}
.sagmenu .ust .money  {
    margin: 0px;
    margin-bottom: 41px;
    font-weight: 700;
    font-size: 28px;
}.sagmenu .ust a {
    text-decoration: none;
    color: #01579b;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}
.sagmenu  .ust .text p {
    color: #263238;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}
/* sag1 finish*/
/* sag2 start */
.sagmenu .alt {
    padding: 0px 69px 0px 65px;
    box-sizing: border-box;
}

.sagmenu .alt .alt-title h1{
    color: #263238;
    font-size: 32px;
    font-weight: 600;
    line-height: 19px;
    margin: 30px 0;
}
.sagmenu .alt .box1 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}

.sagmenu .alt .box2 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}
.sagmenu .alt .box3 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}
.sagmenu .alt .box4 {
    padding: 27px 22px 32px 22px;
    border: 1px solid #cfd8dc;
}
.sagmenu .alt h3 {
    opacity: 0.7;
    color: #263238;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.sagmenu .alt .listHeader{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sagmenu .alt .listHeader h1 {
    color: #263238;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 28px;
}
.sagmenu .alt ul li .money {
    color: #263238;
    font-size: 25px;
    font-weight: 600;
    line-height: 19px;
}

.sagmenu .alt time{
    color: #263238;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
}
.sagmenu .alt ul {
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
/*sag2 finish */